<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/7c29e43a-26f7-4350-8a83-1cdc190d4696/resourceGroups/apifutboldemo_group/providers/Microsoft.Web/sites/apifutboldemo</ResourceId>
    <ResourceGroup>apifutboldemo_group</ResourceGroup>
    <ApiResourceId>/subscriptions/7c29e43a-26f7-4350-8a83-1cdc190d4696/resourceGroups/apifutboldemo_group/providers/Microsoft.ApiManagement/service/apiFutbolapi/apis/apiFutbol</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apifutboldemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2d6ca8b0-518e-4c51-9f66-33498e0368d2</ProjectGuid>
    <MSDeployServiceURL>apifutboldemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>apifutboldemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$apifutboldemo</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>